/* Google Fontes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@900&family=Poppins:wght@300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 6rem;

    /*========== Colors ==========*/
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(216, 100%, 59%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0. 0%, 77%);
    --body-color: hsl(0, 0%, 6%);
    --container-color: hsl(0, 0%, 10%);
    --border-color: hsla(0, 0%, 100%, 0.2);

    /*========== Font and typography ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Montserrat', sans-serif;

    --big-font-size: 4.5rem;
    --h1-font-size: 3.75rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 1rem;
    --smaller-font-size: 0.875rem;

    /*========== Font weight ==========*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-900: 900;

    /*========== Transition ==========*/
    --transition: cubic-bezier(0.05, 0.2, 0.1, 1);

    /*========== Border Radius ==========*/
    --radius: .5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
    :root {
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-300);
}

body{
    background-color: var(--body-color);
}
h1,
h2,
h3{
    color: var(--title-color);
    font-weight: var(--weight-700);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.67em;
}
img{
    max-width: 100%;
}
textarea,
input{
    background-color: none;
    border: none;
    outline: none;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}
.grid{
    display: grid;
    gap: 1.75rem;
}

/*=============== HEADER & NAV ===============*/

/* Active link */

/* Change background header */

/*=============== HOME ===============*/
.home{
    padding-block: 16rem;
}
.home__container{
    grid-template-columns: 7fr 5fr;
    align-items: center;
}
.home__subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--weight-400);
    letter-spacing: 0.25rem;
    color: white;
    margin-bottom: 1.25rem;
    display: block;
}
.home__title{
    font-family: var(--second-font);
    font-size: var(--big-font-size);
    font-weight: var(--weight-900);
}
.home__title span{
    color: var(--first-color);
}
.home__img{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: 0.75rem solid var(--container-color);
    margin-left: auto;
}

/*=============== ABOUT ===============*/

/* Active tab */

/*=============== SERVICES ===============*/

/*=============== WORK ===============*/

/* Work hover */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show scrollup */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

/* For small devices */
@media screen and (max-width: 350px) {}